<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83824022955-irv3f59gb18qbej59q07tqd6t47sndnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83824022955-irv3f59gb18qbej59q07tqd6t47sndnq</string>
	<key>API_KEY</key>
	<string>AIzaSyBEYfJSjDVUJ0jFC4-1Imb94OnUaoCBcqg</string>
	<key>GCM_SENDER_ID</key>
	<string>83824022955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chitChat</string>
	<key>PROJECT_ID</key>
	<string>favorite-place-8066c</string>
	<key>STORAGE_BUCKET</key>
	<string>favorite-place-8066c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83824022955:ios:1c07701ab5c8877a5b2eee</string>
	<key>DATABASE_URL</key>
	<string>https://favorite-place-8066c-default-rtdb.firebaseio.com</string>
</dict>
</plist>